<div id="sidebar" class="w-[20%] h-screen absolute left-0 p-4 flex flex-col">
  <h1 class="text-2xl font-medium leading-normal"> &lt;/&gt;<br> BITCOIN SCRIPTING TOOL </h1>
  <h2 class="text-sm leading-tight text-gray-500">A visualizer of scripts and stack execution for devs!</h2>
  <input #searchInput (keyup)="search(searchInput.value)" type="text"
    class="bg-[#000101] mt-6 w-full h-8 px-4 py-5 rounded-md text-gray-500 outline-none" placeholder="Searh OP_CODE">

  <div class="mt-4 overflow-y-auto">
    @for (section of opcodesList(); track section.section) {
    <section cdkDropList cdkDropListSortingDisabled [cdkDropListEnterPredicate]="noDropAllowed"
      class="opcodes-section mb-4">
      <p class="section-title text-gray-400">{{ section.section }}</p>
      @for (opcode of section.opcodes; track opcode.name) {
      <div cdkDrag [cdkDragData]="{ opcode: opcode, color: sectionColors[section.section] }" class="opcode mt-2 p-2 rounded-md w-fit flex flex-col gap-2 hover:cursor-grab z-30"
        [ngClass]="sectionColors[section.section]">
        <span class="text-md font-medium leading-none flex items-center gap-2 select-none">
          {{ opcode.alias ? opcode.name + ' / ' + opcode.alias : opcode.name }}
        </span>
      </div>
      }
    </section>
    }
  </div>
</div>